<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"align":"full"} -->
	<!-- wp:heading {"level":1,"textAlign":"center"} --><h1>Page Not Found</h1><!-- /wp:heading -->
	<!-- wp:paragraph {"align":"center"} --><p>The page you're looking for doesn't exist.</p><!-- /wp:paragraph -->
	<!-- wp:search {"label":"Search","showLabel":false} /-->
	<!-- wp:pattern {"slug":"serif/article-grid"} /-->
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
